<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <form name="CreateMeetingRoom" class="form-horizontal" role="form" ng-controller="CreateMeetingRoomCtrl">
      <div class="form-group">
        <label class="control-label col-xs-3" for="PhoneNumber">Phone Number
          <span style="color:red;">*</span>
        </label>
        <div class="col-xs-5">
          <input type="tel" class="form-control" id="Phone Number" ng-model="vm.userdata.phone" placeholder="Phone Number" required>
          <span class="error-form-fields pull-right" ng-show="CreateMeetingRoom.mobilenumber.$error.pattern ">
            Not valid contact number!</span>
        </div>
      </div>
    </form>
  </section>
</div>










<!-- <div ng-controller="CreateMeetingRoomCtrl">

  <div class="modal-header">
    <h3 class="modal-title">New User</h3>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-xs-2" for="name">Name</label>
          <div class="col-xs-4">
            <input type="text" class="form-control" id="name" ng-model="createnewuser.name" placeholder="Enter name">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" ng-model="createnewuser.email" placeholder="Enter email">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-2" for="PhoneNumber">Phone Number</label>
          <div class="col-xs-4">
            <input type="tel" class="form-control" id="Phone Number" ng-model="createnewuser.phone" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="MobileNumber">Mobile Number</label>
          <div class="col-xs-4">
            <input type="tel" class="form-control" id="Mobile Number" ng-model="createnewuser.mobile" placeholder="Mobile Number">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="SaveNewUser()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
 -->
