<div class="modal-header">
  <h3 class="modal-title">Details you had entered</h3>
</div>
<div class="modal-body">
  <section class="tile" fullscreen="isFullscreen01">
    <form class="form-horizontal" role="form">
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font">
          <strong>{{vm.pageName}}</strong> Details</h1>
      </div>
      <div class="tile-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Name :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.name}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.premiseId">
          <label class="col-sm-3 control-label">Premises Name :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.premisename}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.buildingId">
          <label class="col-sm-3 control-label">Building Name :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.buildingName}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.floorId">
          <label class="col-sm-3 control-label">Floor Name :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseFloorDetails.floorname}}</p>
          </div>
        </div>
        <!--  <div class="form-group" ng-if="vm.responseDetails.cityId">
          <label class="col-sm-3 control-label">State :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.state}}</p>
          </div>
        </div> -->
        <div class="form-group" ng-if="vm.responseDetails.cityId">
          <label class="col-sm-3 control-label">City :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.city}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.cityId&&vm.responseDetails.premiseId">
          <label class="col-sm-3 control-label">Location :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.location}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.floorId">
          <label class="col-sm-3 control-label">Location :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseFloorDetails.floorlocation}}</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.responseDetails.cityId&&vm.responseDetails.premiseId">
          <label class="col-sm-3 control-label">Address :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.address}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Contact Person :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.contactPersonName}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.email}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Contact Number :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.responseDetails.contactNo}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="tile-footer">
            <button type="button" ng-click="vm.exit();" class="btn btn-warning pull-left">Cancel</button>
            <button type="button" ng-click="vm.exit();" class="btn btn-info" style="margin-left:500px;">Edit</button>
            <button type="button" ng-click="vm.save();" class="btn btn-success pull-right">Save</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
<!-- <div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
 -->
