<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="images/yeoman.a6b33b1c.png" style="height:30px;width=30px;" alt="">
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2>{{vm.viewpremisedetails[0].premise.name}}</h2>
            </div>
          </div>
        </div>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="wams.dashboard"><i class="fa fa-home"></i> {{main.title}}</a> </li>
            <li> <a href="javascript:;">Premises</a> </li>
            <li> <a ui-sref="wams.viewPremises">{{page.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <form name="form1" class="form-horizontal" submit="submitForm(form1.$valid)" role="form" novalidate>
            <section class="tile" fullscreen="isFullscreen03">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Basic</strong>Details</h1>
                <ul class="controls">
                  <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                    <a href class="dropdown-toggle settings" dropdown-toggle>
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <li>
                        <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                          <fa name="refresh"></fa> Refresh </a>
                      </li>
                    </ul>
                  </li>
                  <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                </ul>
              </div>
              <div class="col-md-12">
                <div class="tile-body form-validation">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Location</label>
                      <label class="col-sm-6 control-label">{{vm.viewpremisedetails[0].premise.location}}</label>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Address</label>
                      <label class="col-sm-6 control-label">{{vm.viewpremisedetails[0].premise.Address}}</label>
                    </div>
                  </div>
                  <div class="pull-right">
                    <div class="form-group">
                      <img src="http://www.abbeyoffices.com/_images/assets/locations/image-gallery-full/Meeting-room_8.jpg" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="tile-body" ng-controller="PaginationDemoCtrl">
                      <pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="mt-0 mb-10"></pagination>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Meeting Rooms</strong>Details</h1>
              </div>
              <div class="tile-body form-validation">
                <div class="form-group">
                  <div class="col-md-10">
                    <div class="tile-body table-custom">
                      <form class="form-inline">
                        <table datatable="ng" class="table table-custom">
                          <thead>
                            <tr>
                              <th class="bt-0">Name</th>
                              <th class="bt-0">Location</th>
                              <th class="bt-0">Capacity</th>
                              <th class="bt-0">Admin Name</th>
                              <th class="bt-0">Contact Number</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="viewpremisedetail in vm.viewpremisedetails">
                              <td>{{viewpremisedetail.name}}</td>
                              <td>{{viewpremisedetail.location}}</td>
                              <td>{{viewpremisedetail.capacity}}</td>
                              <td>{{viewpremisedetail.user.name}}</td>
                              <td>{{viewpremisedetail.user.mobile}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
