<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-datatables">
      <div class="pageheader">
        <h2>{{vm.page.title}}
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" class="ng-binding" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Meeting Room Infra Structure</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.page.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <form name="addMeetingRoomInfraForm" class="form-horizontal" role="form" novalidate>
              <section class="tile" fullscreen="isFullscreen03">
                <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font">
                    <strong></strong>
                  </h1>
                  <ul class="controls">
                    <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                      <a href class="dropdown-toggle settings" dropdown-toggle>
                        <i class="fa fa-cog"></i>
                      </a>
                      <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                        <li>
                          <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                            <fa name="refresh"></fa> Refresh </a>
                        </li>
                      </ul>
                    </li>
                    <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                  </ul>
                </div>
                <section class="tile" fullscreen="isFullscreen07">
                  <alert class="col-md-2 pull-right" ng-repeat="alert in vm.alerts" type="success">{{alert.msg}}</alert>
                  <div class="tile-body">
                    <div class="form-group">
                      <label class="col-sm-4 control-label"> Meeting Room Name
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <!-- <label class="col-sm-4 control-label"> {{vm.ui.mrInfo.name}}</label> -->
                        <input type="text" class="form-control mb-10" ng-model="vm.ui.mrInfo.name" placeholder="Name" readonly="true">

                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label"> Meeting Room Type
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control mb-10" ng-model="vm.ui.mrInfo.type" placeholder="Name" readonly="true">

                      </div>
                    </div>
                    <!-- <div class="form-group">
                    <label class="col-sm-4 control-label"> Name
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control mb-10" ng-model="vm.ui.name" placeholder="Name" name="infraname" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-\_\x20]*$/" required>
                      <span style="color:red;" class="error-form-fields pull-right" ng-show="
                        addMeetingRoomInfraForm.infraname.$error.pattern">
                        Enter a valid Name!</span>
                    </div>
                  </div> -->

                    <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">details</label>
                    <div class="col-sm-5">
                      <textarea class="form-control" rows="3" ng-model="vm.ui.description" name="message" id="message" placeholder="Description">
                      </textarea>
                    </div>
                  </div> -->
                    <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">Infra Items
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control mb-9" ng-model="vm.ui.typeId" ng-options=" entity.id as entity.value for entity in vm.ui.infraType">
                        <option value="">Infra Items</option>
                      </select>
                    </div>
                  </div> -->
                    <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">Infra Items
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-8">
                      <li ng-repeat="entity in vm.ui.infraType">
                        <ul>
                          <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                            <input type="checkbox" ng-model="user.selected" ng-change="row.isSelected=true;" class="ng-pristine ng-untouched ng-valid"><i></i>{{entity.value}}</label>
                        </ul>
                      </li>
                      <div class="col-sm-5" ng-show="user.selected">
                        <input type="text" class="form-control mb-10" ng-model="vm.ui.code" placeholder="Code" required>
                      </div>
                    </div>
                  </div> -->
                    <div class="form-group">
                      <label class="col-md-4 col-sm-2 control-label">Infra Items
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-md-8 col-sm-10">
                        <div class="section" style="max-height:350px;overflow-y: scroll;">
                          <div ng-repeat="(k, v) in vm.ui.infraType" ng-class="{wrap:!($index % 4)}">
                            <div class="col-md-2 col-sm-2" style="padding-top: 3px;">
                              <label class="checkbox checkbox-custom checkbox-custom-sm m-0" ng-inti="v.isSelected = 0">
                                <input type="checkbox" ng-model="v.isSelected" class="ng-pristine ng-untouched ng-valid" ng-change="v.code=''"><i></i></label>
                            </div>
                            <div class="col-md-5 col-sm-4">
                              <span>{{v.value}}</span>
                            </div>
                            <div class="col-md-5 col-sm-5">
                              <input type="text" ng-disabled="!v.isSelected" class="form-control mb-10" ng-model="v.code" placeholder="Code">
                            </div>
                          </div>
                          <!--  <table>
                          <tbody>
                            <tr ng-repeat="(k, v) in vm.ui.infraType" ng-class="{wrap:!($index % 4)}">
                              <td>
                                <label class="checkbox checkbox-custom checkbox-custom-sm m-0" ng-inti="v.isSelected = 0">
                                  <input type="checkbox" ng-model="v.isSelected" class="ng-pristine ng-untouched ng-valid" ng-change="v.code=''"><i></i></label>
                              </td>
                              <td class="col-sm-2">
                                <span>{{v.value}}</span>
                              </td>
                              <td class="col-sm-8">
                                <input type="text" ng-disabled="!v.isSelected" class="form-control mb-10" ng-model="v.code" placeholder="Code">
                              </td>
                            </tr>
                          </tbody>
                        </table> -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">Code
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control mb-10" ng-model="vm.ui.code" placeholder="Code" required>
                    </div>
                  </div> -->
                  </div>
                  <hr class="line-full">
                  <div class="form-group">
                    <div class="col-md-4 pull-right">
                      <!--  <button type="button" ng-click="vm.createmore=true;vm.saveInfra();" class="btn btn-success mb-10" ng-disabled="addMeetingRoomInfraForm.$invalid">Save &amp; Create more</button> -->
                      <button type="button" ng-click="vm.createmore=false;vm.saveInfra();" class="btn btn-primary mb-10" ng-disabled="addMeetingRoomInfraForm.$invalid">Save</button>
                      <button type="button" class="btn btn-info mb-10">Reset</button>
                      <button type="button" ng-click="vm.cancel();" class="btn btn-warning mb-10">Cancel</button>
                    </div>
                  </div>
                </section>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
