<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.title}}
          <!--  <span></span> -->
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Cafe Admin</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen03">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Basic</strong> Details</h1>
                <ul class="controls">
                  <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                    <a href class="dropdown-toggle settings" dropdown-toggle>
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <li>
                        <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                          <fa name="refresh"></fa> Refresh </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tile-body">
                <form name="CreateCafeteriaForm" class="form-horizontal" role="form" novalidate>
                  <div class="col-md-6">
                    <div class="tile-body form-validation">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-3 control-label">Location</label>
                          <h5 class="col-md-9"> tower A 4th floor</h5>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-3 control-label">Description</label>
                          <h5 class="col-md-9"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="page page-general">
                      <!-- page header -->
                      <div class="pagecontent">

                        <div class="tile-body form-validation">
                          <div class="form-group">
                            <img src="http://www.abbeyoffices.com/_images/assets/locations/image-gallery-full/Meeting-room_8.jpg" alt="" style="width:250px;height:250px;">
                          </div>
                          <div class="tile-body" ng-controller="PaginationDemoCtrl">
                            <pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="mt-0 mb-10"></pagination>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                      <strong> Timing Details </strong> Details</h1>
                  </div>
                  <div class="tile-body">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Monday</label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Tuesday</label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Wednesday</label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Thrusday </label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Friday </label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Saturday </label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Sunday</label>
                      <div class="col-sm-10">
                        <input type="text" ui-jq="slider" class="slider form-control" value="" data-slider-max="1000" data-slider-step="10" data-slider-value="[120,780]"> </div>
                    </div>
                  </div>
                  <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                      <strong> Cafeteria </strong> Admin</h1>
                  </div>
                  <div class="tile-body form-validation">
                    <div class="form-group">
                      <div class="col-md-10">
                        <div class="tile-body table-custom" ng-controller="AllMeetingRoomsCtrl">
                          <form class="form-inline">
                            <table datatable="ng" class="table table-custom">
                              <thead>
                                <tr>
                                  <th class="bt-0">Name</th>
                                  <th class="bt-0">Contact Number</th>
                                  <th class="bt-0">Email Id</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="room in rooms">
                                  <td>{{ room.admin }}</td>
                                  <td>{{ room.adminContact }}</td>
                                  <td>{{ room.name }}@gmail.com</td>
                                </tr>
                              </tbody>
                            </table>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
