<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.title}}
          <!--  <span></span> -->
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Floors</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen03">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Basic</strong>Details</h1>
                <ul class="controls">
                  <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                    <a href class="dropdown-toggle settings" dropdown-toggle>
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <li>
                        <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                          <fa name="refresh"></fa> Refresh </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tile-body">
                <alert class="col-md-2 pull-right" ng-repeat="alert in vm.alerts" type="success">{{alert.msg}}</alert>
                <form name="createFloorForm" class="form-horizontal" role="form" novalidate>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Name
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="Floorname" class="form-control mb-9" data-ng-model="vm.floorInfo.name" required>
                        <option value="">Floor Name</option>
                        <option value="Basement 1">Basement 1</option>
                        <option value="Basement 2">Basement 2</option>
                        <option value="Basement 3">Basement 3</option>
                        <option value="Ground Floor">Ground Floor</option>
                        <option value="Level1">Level1</option>
                        <option value="Level2">Level2</option>
                        <option value="Level3">Level3</option>
                        <option value="Level4">Level4</option>
                        <option value="Level5">Level5</option>
                        <option value="Level6">Level6</option>
                        <option value="Level7">Level7</option>
                        <option value="Level8">Level8</option>
                        <option value="Level9">Level9</option>
                        <option value="Level10">Level10</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="message">Building
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="Floor" class="form-control mb-9" data-ng-model="vm.floorInfo.buildingId" ng-options="entity.id as entity.name for entity in  vm.buildings" required>
                        <option value="">Select Building</option>
                      </select>
                    </div>
                  </div>
                  <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                      <strong>Contact</strong>Details</h1>
                  </div>
                  <div class="tile-body">
                    <div class="form-group" ng-hide="vm.ui.checkbox">
                      <label class="col-sm-3 control-label">Existing User</label>
                      <div class="col-sm-5">
                        <select name="existinguser" class="form-control mb-9" ng-model="vm.floorInfo.managerId" ng-change="vm.getUserById(vm.floorInfo.managerId);">
                          <option value="">Existing User</option>
                          <option ng-repeat="(key,val) in vm.allusers" value="{{key}}">{{val}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-9 pull-right">
                        <input type="checkbox" ng-model="vm.ui.checkbox" ng-click="vm.addNew();">
                        <span>Add New User</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Contact Person
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="text" name="contactPerson" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-\_\x20]*$/" ng-readonly="vm.notReadable" class="form-control mb-10" placeholder="Contact Person Name" data-ng-model="vm.floorInfo. contactPersonName" required>
                        <span class="error-form-fields pull-right" ng-show="CreateMeetingRoom.contactPerson.$error.pattern ">

                          Enter a valid Name!</span>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Contact number
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="tel" name="mobilenumber" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10" ng-readonly="vm.notReadable" class="form-control mb-10" placeholder="Contact number" data-ng-model="vm.floorInfo.contactNo">
                        <span class="error-form-fields pull-right" ng-show="CreateMeetingRoom.mobilenumber.$error.pattern ">
                          Not valid contact number!</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Email Id
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="email" name="email" ng-readonly="vm.notReadable" class="form-control mb-10" placeholder="Email Id" data-ng-model="vm.floorInfo.email">
                        <span class="error-form-fields pull-right" ng-show="CreateMeetingRoom.email.$error.email ">
                          Not valid email!</span>
                      </div>
                      <div class="col-sm-3" ng-show="vm.ui.checkbox">
                        <!-- <a href="#" ui-sref="wams.addmore" ng-model="vm.ui.addmore">add more </a> -->
                      </div>
                    </div>
                  </div>
                  <hr class="line-full">
                  <div class="tile-footer text-right">
                    <button type="button" ng-disabled="createFloorForm.$invalid" ng-click="vm.createmore = true;vm.saveFloor();" ng-hide="vm.updateMode" class="btn btn-success mb-10">Save &amp; Create more</button>
                    <button type="button" ng-disabled="createFloorForm.$invalid" ng-click="vm.createmore = false;vm.saveFloor();" class="btn btn-primary mb-10">Save</button>
                    <button type="button" ng-click="vm.reset()" class="btn btn-info mb-10">Reset</button>
                    <button type="button" ng-click="vm.cancel()" class="btn btn-warning mb-10">Cancel</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- page content -->
