<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.title}}
          <!--  <span></span> -->
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Floorparts</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen03">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Basic</strong>Details</h1>
                <ul class="controls">
                  <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                    <a href class="dropdown-toggle settings" dropdown-toggle>
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <li>
                        <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                          <fa name="refresh"></fa> Refresh </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tile-body">
                <form name="createFloorpartForm" class="form-horizontal" role="form" novalidate>
                  <!-- <div class="form-group">
                  <label class="col-sm-3 control-label">Name
                    <span style="color:red;">*</span>
                  </label>
                  <div class="col-sm-5">
                    <input type="text" name="floorpartname" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-\_\x20]*$/" class="form-control mb-10" placeholder="Floorpart Name" ng-model="vm.fpInfo.name" required>
                    <span style="color:red;" class="error-form-fields pull-right" ng-show="createFloorpartForm.floorpartname.$error.pattern ">
                      Enter a valid Name!</span>
                  </div>
                </div> -->
                  <div class="form-group" ng-if="!vm.floorId">
                    <label class="col-sm-3 control-label" for="message">Premises
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="Premises" class="form-control mb-9" data-ng-model="vm.fpInfo.premisesId" ng-change="vm.getBuildings();" ng-options="entity.id as entity.name for entity in  vm.premises" required>
                        <option value="">Select Premises</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" ng-if="!vm.floorId">
                    <label class="col-sm-3 control-label">Building
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5" ng-if="!vm.floorId">
                      <select name="buildings" class="form-control mb-9" data-ng-model="vm.fpInfo.buildingId" ng-change="vm.fetchFloors();" ng-options=" entity.id as entity.name for entity in vm.buildings" required>
                        <option value="">Select Building</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.floorId">
                    <label class="col-sm-3 control-label">Floor
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <input type="text" name="floorpartname" ng-readonly="vm.floorId" class="form-control mb-10" placeholder="Floor" ng-model="vm.fpInfo.floorId" required>
                    </div>
                  </div>
                  <div class="form-group" ng-if="!vm.floorId">
                    <label class="col-sm-3 control-label">Floor
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="floors" class="form-control mb-9" data-ng-model="vm.fpInfo.floorId" ng-options="entity.id as entity.name for entity in vm.floors" required>
                        <option value="">Select Floor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Location
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control mb-9" ng-model="vm.fpInfo.location" required>
                        <option value="">Location</option>
                        <option value="Total Floor">Total Floor</option>
                        <option value="Left-Wing">Left-Wing</option>
                        <option value="Right-Wing">Right-Wing</option>
                      </select>
                    </div>
                  </div>
                  <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                      <strong>Contact</strong>Details</h1>
                  </div>
                  <div class="tile-body">
                    <div class="form-group" ng-hide="vm.fpInfo.checkbox">
                      <label class="col-sm-3 control-label">Existing User
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <select name="existinguser" class="form-control mb-9" ng-model="vm.fpInfo.contactPerson" ng-change="vm.getUserById(vm.fpInfo.contactPerson);">
                          <option value="">Existing User</option>
                          <option ng-repeat="(key,val) in vm.allusers" value="{{key}}">{{val}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-9 pull-right">
                        <input type="checkbox" ng-model="vm.fpInfo.checkbox" ng-click="vm.addNew();">
                        <span>Add New User</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Contact Person
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="text" name="name" class="form-control mb-10" placeholder="Name" data-ng-model="vm.fpInfo.contactPersonName" ng-readonly="vm.notReadable" ng-pattern="/^[A-z]+$/" required>
                        <span class="error-form-fields pull-right" ng-show="createFloorpartForm.contactPerson.$error.pattern ">
                          Enter a valid Name!</span>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Contact number
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="tel" name="mobilenumber" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10" class="form-control mb-10" placeholder="Contact number" data-ng-model="vm.fpInfo.contactNo" ng-readonly="vm.notReadable" required>
                        <span class="error-form-fields pull-right" ng-show="createFloorpartForm.mobilenumber.$error.pattern ">
                          Not valid contact number!</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Email Id
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-sm-5">
                        <input type="email" name="email" class="form-control mb-10" placeholder="Email Id" data-ng-model="vm.fpInfo.email" ng-readonly="vm.notReadable" required>
                        <span class="error-form-fields pull-right" ng-show="createFloorpartForm.email.$error.email ">
                          Not valid email!</span>
                      </div>
                    </div>
                  </div>
                  <hr class="line-full">
                  <div class="tile-footer text-right">
                    <button type="button" ng-disabled="createFloorpartForm.$invalid" ng-click="vm.createmore = true;vm.saveFloorpart();" class="btn btn-success mb-10" ng-show="!vm.updateMode">Save &amp; Create more</button>
                    <button type="button" ng-disabled="createFloorpartForm.$invalid" ng-click="vm.createmore = false;vm.saveFloorpart();" class="btn btn-primary mb-10">Save</button>
                    <button type="button" ng-click="vm.reset()" class="btn btn-info mb-10">Reset</button>
                    <button type="button" ng-click="vm.cancel()" class="btn btn-warning mb-10">Cancel</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- page content -->
