<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-tables-bootstrap">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.title}}
          <!-- <span class="ng-binding"></span> -->
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" class="ng-binding" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>

            <li> <a href="javascript:;">Floorparts</a> </li>

            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile time-simple" ng-hide="vm.noData">
              <!-- tile body -->
              <div class="tile-body">
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-md-9">
                    <p class="text-default lt">Created: {{vm.premisesDetails.createdAt | date : format : timezone}}</p>

                    <p class="text-uppercase text-strong mt-40 mb-0 custom-font">Status</p>
                    <h3 class="text-uppercase text-success mt-0 mb-20">Active</h3>
                  </div>
                  <!-- /col -->
                  <!-- col -->
                  <div class="col-md-3">
                    <p class="text-uppercase text-strong mb-10 custom-font">Details<a href="javascript:void(0);" class="btn btn-default btn-rounded-20 btn-xs pull-right" ng-click="vm.update(vm.floorPartsDetails.id)"><i class="fa fa-pencil"></i></a> </p>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li>
                        <strong class="inline-block w-xs">ID:</strong> {{vm.floorPartsDetails.id}}</li>
                      <li>
                        <strong class="inline-block w-xs">Name:</strong> {{vm.floorPartsDetails.name}}</li>
                      <li>
                        <strong class="inline-block w-xs">City:</strong> {{vm.floorPartsDetails.cityName}}</li>
                      <li>
                        <strong class="inline-block w-xs">Phone:</strong> {{vm.floorPartsDetails.contactNo}}</li>
                      <!--  <li>
                  <strong class="inline-block w-xs">Email:</strong> <a href="javascript:;">{{vm.premisesDetails.email}}</a></li> -->
                    </ul>
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row b-t pt-20">
                  <!-- col -->
                  <!-- <div class="col-md-3 b-r">
                 
                </div> -->
                  <!-- /col -->
                  <!-- col -->
                  <div class="col-md-6 b-r">
                    <p class="text-uppercase text-strong mb-10 custom-font"> Address </p>
                    <!-- col -->
                    <div class="col-md-6">
                      <ul class="list-unstyled text-default lt mb-20">
                        <li>{{vm.floorPartsDetails.cityName}}</li>
                        <li>{{vm.floorPartsDetails.location}}</li>
                        <li>{{vm.floorPartsDetails.address}}</li>

                      </ul>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-6">
                      <ul class="list-unstyled text-default lt mb-20">
                        <li>{{vm.floorPartsDetails.email}}</li>
                        <li>{{vm.floorPartsDetails.contactNo}}</li>
                      </ul>
                    </div>
                    <!-- /col -->
                  </div>
                  <!-- /col -->
                  <!-- col -->
                  <!--  <div class="col-md-3">
                  <p class="text-uppercase text-strong mb-10 custom-font">Delivery &amp; Payment</p>
                  <ul class="list-unstyled text-default lt mb-20">
                    <li>
                      <strong>Delivery:</strong> Pick-Up</li>
                    <li>
                      <strong>Payment:</strong> Cash</li>
                  </ul>
                </div> -->
                  <!-- /col -->
                </div>
                <!-- /row -->
              </div>
              <!-- /tile body -->
            </section>
          </div>
          <div class="col-md-12">
            <div class="post-container" ng-show="vm.noData">
              <div class="panel panel-default b-0">
                <h3 class="custom-font text-danger text-center">No Data found</h3>

                <p style="margin-left:10px;"> Hi User !
                </p>
                <p style="margin-left:10px;">Please wait , floors are yet to divided in parts...</p>
              </div>
            </div>
            <section class="tile" fullscreen="isFullscreen07" ng-hide="vm.noData">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong></strong>
                </h1>
                <ul class="controls">
                  <li class="dropdown" dropdown="" on-toggle="toggled(open)"> <a href="" dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <!-- <li>
                      <a href="" tile-control-toggle="">
                        <span class="minimize"><i class="fa fa-angle-down" name="angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                        <span class="expand"><i class="fa fa-angle-up" name="angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                      </a>
                    </li> -->
                      <li>
                        <a href="" tile-control-refresh="" ng-click="ajaxFaker()"> <i class="fa fa-refresh" name="refresh"></i> Refresh </a>
                      </li>
                      <!-- <li>
                      <a href="" tile-control-fullscreen="" ng-click="isFullscreen07 = !isFullscreen07" class=""> <i class="fa fa-expand" name="expand"></i> Fullscreen </a>
                    </li> -->
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tile-widget">
                <div class="row">
                  <div class="col-sm-5">
                    <select class="input-sm form-control inline w-sm" style="width:150px;">
                      <option value="0">Action </option>
                      <option value="2">Archive</option>
                    </select>
                    <button class="btn btn-sm btn-default">Apply</button>
                  </div>
                  <div class="col-sm-3"></div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" class="input-sm form-control" placeholder="Search..." ng-model="vm.searchText">
                      <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile-body p-0">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th style="width:20px">
                          <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                            <input type="checkbox" ng-model="selectedAll" ng-click="vm.selectAll()" class="ng-pristine ng-untouched ng-valid"><i></i> </label>
                        </th>
                        <th ng-repeat="col in vm.columnCollection">{{col.title}}<i class="fa fa-sort" style="padding:10px;" ng-click="reverse=!reverse;vm.order(col.id, reverse)"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="ng-scope" ng-repeat="row in vm.entity | filter : vm.searchText">
                        <td>
                          <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                            <input type="checkbox" ng-model="row.selected" class="ng-pristine ng-untouched ng-valid"><i></i></label>
                        </td>
                        <td ng-repeat="col in vm.columnCollection" ng-click="vm.getById(row.id);">
                          <a ng-click="vm.getById(row[col.id]);" href="javascript:void(0);" ng-if="col.isAction">
                            <span>{{row[col.id]}}</span>
                          </a>
                          <span ng-if="!col.isAction">{{row[col.id]}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tile-footer dvd dvd-top">
                <div class="row">
                  <div class="col-sm-5 hidden-xs">
                    <select class="input-sm form-control w-sm inline" style="width:150px">
                      <option value="0">Action</option>
                      <option value="2">Archive</option>
                    </select>
                    <button class="btn btn-sm btn-default">Apply</button>
                  </div>
                  <div class="col-sm-3 text-center">
                    <small class="text-muted">Showing {{vm.maxSize}} of {{vm.count}} items</small>
                  </div>
                  <div class="col-sm-4 text-right">
                    <paging-control paging-options="vm.pagingOptions" action-page-changed="vm.pageChanged">
                    </paging-control>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
