<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.page.title}}&nbsp; {{vm.mrObject.name}}

        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" class="ng-binding" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Meeting Rooms</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.page.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen01">
              <div class="row">
                <div class="col-sm-12">

                  <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                      <strong>Slot</strong>Details</h1>
                  </div>
                  <div class="tile-body">

                    <form name="slotDetailsForm" class="form-horizontal" role="form" novalidate>
                      <div class="form-group">
                        <div class="col-sm-8">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div style="font-family: monospace; font-size: 14px; margin-bottom: 30px;">
                                {{vm.slots}}
                              </div>

                              <scheduler class="scheduler" slots="vm.slots" columns="vm.labels">
                              </scheduler>
                              <!-- <meeting-scheduler data='vm.slots'></meeting-scheduler> -->

                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              Available Infrastructure
                            </div>
                            <div class="panel-body">
                              <div ng-repeat="entity in vm.infraDetails">
                                <div class="col-sm-6">{{entity.name}}
                                </div>
                                <div class="col-sm-6">&nbsp;<i class="fa fa-check fa-2x" style="color:green"></i></div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 tile dvd dvd-btm">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 ">
                          <div class="col-sm-2">
                            <input type="checkbox">Daily
                          </div>
                          <div class="col-md-2">
                            <input type="checkbox">Weekly
                          </div>
                          <div class="col-md-6">
                            Meeting Room Cost : {{vm.costConfig.points}} Points / {{vm.unit}}
                          </div>
                          <div class="col-md-2">
                            <button type="button" ng-click="vm.bookMeetingRoom()" class="btn btn-primary pull-right">Book</button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 tile dvd dvd-btm">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 tile-header dvd dvd-btm">
                          <h1 class="custom-font">
                            <strong>Invite</strong>People</h1>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <label class="checkbox checkbox-custom">
                            <input type="checkbox" checked="checked" ng-model="vm.slotdetails.mailflag"><i></i> Send Invitations </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3">Subject Line</label>
                          <div class="col-md-9">
                            <input type="text" name="subject" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-\_\x20]*$/" class="form-control mb-10" placeholder="Subject Line" ng-model="vm.slotdetails.subject" required>
                            <span style="color:red;" class="error-form-fields pull-right" ng-show="slotDetailsForm.subject.$error.pattern ">
                              Enter a valid Name!</span>
                          </div>
                        </div>
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3">Required People</label>
                          <div class="col-md-7">
                            <input type="text" ng-model="vm.slotdetails.usr" placeholder="Required People" typeahead="usr as usr.email for usr in vm.allusers | filter:$viewValue | limitTo:8" class="form-control">
                            <span class="error-form-fields pull-right" ng-show="slotDetailsForm.email.$error.email ">
                              Not valid email!</span>
                          </div>
                          <div class="col-md-2">
                            <button type="button" ng-click="vm.addUserMail()" class="btn btn-primary pull-right">Add</button>
                          </div>
                        </div>
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3"></label>
                          <div class="col-sm-7">
                            <alert ng-repeat="usrmails in vm.usrmails" type="success" close="vm.closeAlert($index)">{{usrmails}}</alert>
                          </div>
                        </div>
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3">Optional People</label>
                          <div class="col-md-7">
                            <input type="text" placeholder="Optinal People" ng-model="vm.slotdetails.optionalemail" typeahead="users as users.email for users in vm.allusers | filter:$viewValue | limitTo:8 " class="form-control">
                            <span class="error-form-fields pull-right" ng-show="slotDetailsForm.optionalemail.$error.email ">
                              Not valid email!</span>
                          </div>
                          <div class="col-md-2">
                            <button type="button" ng-click="vm.addOptinalUserMail()" class="btn btn-primary pull-right">Add</button>
                          </div>
                        </div>
                        <!-- <pre class="col-sm-offset-1 col-sm-7 pull-left">Model: {{vm.optinalmails}}</pre> -->
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3"></label>
                          <div class="col-sm-7">
                            <alert ng-repeat="usrmails in vm.optinalmails" type="success" close="vm.closeAlert($index)">{{usrmails}}</alert>
                          </div>
                        </div>
                        <div class="col-sm-8 " style="margin-top:10px;">
                          <label class="col-sm-3">Comment</label>
                          <div class="col-md-9">
                            <textarea class="form-control" rows="5" placeholder="Comments" ng-model="vm.slotdetails.comments"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12 tile dvd dvd-btm" style="margin-top:10px;">
                        </div>
                      </div>
                      <div class="form-group pull-right">
                        <div>
                          <label class="col-md-12  ">Meeting Room Cost : {{vm.totalCost}} Points</label>
                        </div>
                        <div>
                          <label class="col-md-12  dvd dvd-btm ">Other Cost : 0 Points</label>
                        </div>
                        <div>
                          <label class="col-md-12 ">Total Service Cost : {{vm.totalCost}} Points</label>
                        </div>
                        <!-- <button type="button" class="btn btn-primary pull-right">Send Invitation</button> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
