<div class="modal-header">
  <h3 class="modal-title">Details you had entered</h3>
</div>
<div class="modal-body">
  <section class="tile" fullscreen="isFullscreen01">
    <form class="form-horizontal" role="form">
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font">
          <strong>Company</strong> Details</h1>
      </div>
      <div class="tile-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Name :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.name}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Area Rented :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.area}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Seats Alloted:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.employeeStrength}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Seats Occupied:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.occupancy}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.address}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Contact Person :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.contactPerson}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Contact Number :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.contactNumber}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email :</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{vm.saveDetails.contactEmail}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="tile-footer">
            <button type="button" ng-click="vm.exit();" class="btn btn-warning pull-left">Cancel</button>
            <button type="button" ng-click="vm.exit();" class="btn btn-info" style="margin-left:500px;">Edit</button>
            <button type="button" ng-click="vm.save();" class="btn btn-success pull-right">Save</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
