<div class="view-container" ui-view-container>
  <section id="content" autoscroll="false" class="ng-scope">
    <div class="page page-form-validate">
      <!-- page header -->
      <div class="pageheader">
        <h2>{{vm.title}}
          <!--  <span></span> -->
        </h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li> <a ui-sref="app.dashboard" href="#/app/dashboard"><i class="fa fa-home"></i> Wams</a> </li>
            <li> <a href="javascript:;">Floors</a> </li>
            <li> <a ui-sref="app.tables.bootstrap" class="ng-binding" href="#/app/tables/bootstrap">{{vm.title}}</a> </li>
          </ul>
        </div>
      </div>
      <div class="pagecontent">
        <div class="row">
          <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen03">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                  <strong>Basic</strong>Details</h1>
                <ul class="controls">
                  <li class="dropdown" dropdown on-toggle="vm.toggled(open);">
                    <a href class="dropdown-toggle settings" dropdown-toggle>
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                      <li>
                        <a href tile-control-refresh ng-click="vm.ajaxFaker()">
                          <fa name="refresh"></fa> Refresh </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tile-body">
                <!--  <alert class="col-md-2 pull-right" ng-repeat="alert in vm.alerts" type="success">{{alert.msg}}</alert> -->
                <form name="rechargeForm" class="form-horizontal" role="form" novalidate>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Recharge From
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="f2" class="form-control mb-9" ng-change="vm.getEntity()" ng-model="vm.selectedAccountFrom">
                        <option ng-repeat="(key, value) in vm.fromAccount" value="{{key}}">{{value}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="message">Recharge To
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select name="f2" class="form-control mb-9" ng-change="vm.getEntity()" ng-model="vm.selectedToAccount">
                        <option ng-repeat="(key, value) in vm.accountTo" value="{{key}}">{{value}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="message">Amount
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-5">

                      <input type="number" ng-model="vm.amount">
                    </div>
                  </div>



                  <hr class="line-full">
                  <div class="tile-footer text-right">
                    <!--  <button type="button" ng-click="vm.createAccount();" class="btn btn-success mb-10">Save &amp; Create more</button> -->
                    <button type="button" ng-click="vm.recharge();" class="btn btn-primary mb-10">Save</button>
                    <button type="button" ng-click="vm.reset()" class="btn btn-info mb-10">Reset</button>
                    <button type="button" ng-click="vm.cancel()" class="btn btn-warning mb-10">Cancel</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- page content -->
